{% extends 'app1/base.html '%}
{% block header%}
	<h1><p> {{ topic }}</p></h1>
{% endblock header %}

{% block content %}

	<ul>
		{% for myfile in myfiles %}
		<li>
		<div class="panel panel-default">
			<div class="panel-heading">
				<p>文件名: {{ myfile.filename }}</p>
				<p>上传者: {{ myfile.uploader.username }}</p>
				<p>上传时间: {{ myfile.date_added }}</p>
					
				<a href="{% url 'resource:download' myfile.id %}">下载</a>
			</div>
		</div>
		</li>
		{% empty %}
			<p>此话题暂无资源</p>
		{% endfor %}
	</ul>
{% endblock content %}
